<div class="container">
    <div class="row justify-content-between">
        <div class="section col-md-7">
            <h1>Welcome to light & <span class="u-color-blue">HEAVY</span></h1>
            <h5>Stick around and check out what we have!</h5>
            <div class="mt-3">
                <app-blog></app-blog>
            </div>
        </div>
    
        <div class="section col-md-4 mt-3 mt-md-0">
            <h3>Check Out Our <span class="u-color-blue">Store!</span></h3>
            <div class="mt-3">
                <app-store-section></app-store-section>
            </div>
        </div>
    </div>
</div>